// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$Primary:#FF2E00;
$Secondary:#F0EFF0;
$background:#1c2025;
$PrimaryText:#EEEBD0;

$ide-header: #183040;
$ide-output: #99A3A3;

