// App

@import 'app.scss';


$Primary:#FF2E00;
$Secondary:#F0EFF0;
$Tertiary: #00FF2E;
$background:#1c2025;
$PrimaryText:#EEEBD0;
$Secondary-text:#1c2025;
$SecondaryText: #000000;
$border-orange:$Primary;

//main
main{
    min-height: 50vh;
}
.broad-title{
    font-size:3.8rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform:uppercase;
}
.page-title{
    font-size:2.5rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform:uppercase;
}
.head-line{
    font-size:2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:400;
    text-transform: capitalize;
}
.base-line{
    font-size:1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;  
}
.TB{
    font-size:1.25rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
}
.TH{
    font-size:1.25rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    text-transform:uppercase;
    color: $Secondary;
}
.TH1{
    font-size:1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    text-transform:uppercase;  
    color: $Secondary;
}

.button-primary{
    background-color:$Primary;
    color:$Secondary;
    }
.button-secondary{
     background-color:$Secondary;
     color:$Primary;
    }
.text-in-header{
     color: $Secondary;
    }
.text-Secondary{
    color: $Secondary-text!important;
    }
.text-primary{
    color: $PrimaryText!important;
    }    
//

//Hovering
.TH:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: $Primary;
    text-decoration-thickness: 4px;
    color: $Secondary!important;
 }
 i.bi-person:hover{
    color: $Primary;
    cursor: pointer;
 }
 .button-secondary:hover {
    background-color:$Secondary;
    color: $Primary;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    border-radius:10%;
} 
.button-primary:hover {
   background-color:$Primary;
   color: $Secondary;
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
   border-radius:10%;
} 
//

.body-image{
background-size:cover;
}
.bi-person{
color:$Secondary;
font-size:50px;
}
.bi-google{
    color:$Secondary;
    font-size:1.5rem; 
}
.bi-facebook{
    color:$Secondary;
    font-size:1.5rem; 
}
.welcome{
    color: $Secondary;
}
.btn{
  border-radius:20px;
  margin-top:5px;
  width:100px;
}
.unstyled-anchor{
    text-decoration: none;
    color:$Secondary;
}   
.unstyled-anchor1{
    text-decoration: none;
    color:$SecondaryText;
}

.unstyled-anchor:hover{
    color: $Secondary!important;
}

body{
    background-color: $background;
    color: $PrimaryText;
}

.container1{
    margin-top:10%;
    color: $PrimaryText;
}
.orange-text{
    color: $Primary;
}
.bottom-line{
    border-style: outset;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: $border-orange;
    border-width:0.2rem;
  }
.registration-box{
background:rgba(00, 00,00, 0.7);
box-shadow: 0px 0px 0.5rem 0.8rem rgba(0, 0, 0, .5); 
border-color: black
}
.box-or{
    border-style: inset;
    border-color: $border-orange;
}

.footer{
    background-color: $Secondary;
}



.codesubmit{
    border-color: $Primary;
    border-top-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;


    background:rgba(97, 87,84, 0.29);
    box-shadow: 0px 0px 0.4rem 0.7rem rgba(20, 20, 20, 0.5); 
    border-color: black;
    label{
    
        font-size: 1.3rem!important;
}

}

.cardcode{
min-height: 200px;
width:90%;
label{
    margin-top:0.5rem;
    margin-left: 0.8rem;
    font-size: 2rem!important;
    font-weight: bold;
    text-transform:capitalize;
}
hr {
    margin: 0.3rem;
    color: $Primary;
    background-color: $Primary;
    height: 0.2rem;
    opacity:1;
    border-radius: 0.5rem;
    }
p{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.4rem!important;
}
}
.tags{
padding-left: 0.5rem;
.div-tag{
    padding:0.3rem;
    justify-content: center;
}
.btn-tag{
    background-color: #505152;
    color: $PrimaryText ;
    border-radius: 1rem;
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
}
@media (min-width: 768px) { 
        padding-left: 2rem;
        .btn-tag{
            width: 100%;
            color:$PrimaryText;
            background-color: #505152;            ;
            border-radius: 2rem;
            margin: 0.4rem;
            padding-left: 2rem;
            padding-right: 2rem;
            text-transform: capitalize;
            font-weight: bold;
            text-decoration: none;
            font-size: 1.5rem;
        }
        .div-tag{
            padding:0.5rem;
            justify-content: center;
        }
    }

    a:hover{
        background-color: $Primary;
        color: $background;

    }
}

.codeinfo{
    min-height: 300px;
    width:90%;
    label{
        margin-top:0%;
        margin-left: 0.8rem;
        font-size: 2.5rem!important;
        font-weight: bold;
        text-transform:capitalize;
    }
    hr {
        margin: 0.3rem;
        color: $Primary;
        background-color: $Primary;
        height: 0.2rem;
        opacity:1;
    border-radius: 0.5rem;
    }
    p{
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 1.5rem!important;
    }
}

    .role{
        color: $Tertiary;
    }

    //this is admin panel 
    .adminpanel{
        .cont{
            padding-left: 0px;
           
        }
        .bold{
           font-weight: bold;
        }
        
        .adminbut{
        border-top-left-radius: 1.3rem;
        border-bottom-right-radius: 1.3rem;
        background:rgba(97, 87,84, 0.29);
        box-shadow: 0px 0px 0.4rem 0.7rem rgba(20, 20, 20, 0.5); 
        border-color: black;
        padding-left: 0.1rem;
        }
        .adminoutput{
            padding-top: 0.90rem;
            border-bottom-left-radius: 1.3rem;
            border-bottom-right-radius: 1.3rem;
            padding: 0.5rem;
            background:rgba(97, 87,84, 0.29);
            box-shadow: 0px 0px 0.4rem 0.7rem rgba(20, 20, 20, 0.5); 
            border-color: black;
            min-height: 443px;
        }
        hr {
            margin: 0.3rem;
            color: $Primary;
            background-color: $Primary;
            height: 0.2rem;
            opacity:1;
            border-radius: 0.5rem;
        }
        .div-tag{
            padding:0.3rem;
            justify-content: center;
            width: 50%;
        }
        .btn-tag{
            background-color: #505152;
            color: $PrimaryText ;
            border-radius: 1rem;
            margin: 0.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            text-transform: capitalize!important;
            text-decoration: none;
            font-size: 1rem;
            width: 100%;
        }
        @media (min-width: 768px) { 
            .adminbut{
                border-top-left-radius: 1.3rem;
                border-bottom-right-radius: 1.3rem;
                padding: 0.5rem;
                padding-left: 0.3rem;
                background:rgba(97, 87,84, 0.29);
                box-shadow: 0px 0px 0.4rem 0.7rem rgba(20, 20, 20, 0.5); 
                border-color: black;
                }
            .adminoutput{
                    border-bottom-left-radius: 1.3rem;
                    border-bottom-right-radius: 1.3rem;
                    padding-left: 1rem;
                    padding-top: 1rem;
                    background:rgba(97, 87,84, 0.29);
                    box-shadow: 0px 0px 0.2rem 0.5rem rgba(20, 20, 20, 0.5); 
                    border-color: black;
                   min-height: 443px;
                }
                .cont{
                    padding-left: 0px;
                    padding-right: 1.5rem;

                }
            .btn-tag{
                width: 100%;
                color:$PrimaryText;
                background-color: #505152;           
                border-radius: 0.5rem;
                margin: 1rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                text-transform: capitalize!important;
                text-decoration: none;
                font-size: 1.5rem;
            }
            .div-tag{
                padding:0.5rem;
                justify-content: center;
                width: 25%;
            }

         }
        }
        //here end of admin panel 
    
    
.profile-image{
    width:16rem;
    height:16rem;
}

.camera-button{
    transform: translate(80%,-120%);
}

.normal{
    text-transform:none;
}

.role{
    color: $Tertiary;
}

.truncate-3-lines{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.unclickable{
    cursor: not-allowed;
}

.cursor-auto{
    cursor:auto;
}
